<ion-view view-title="Community" cache-v0ew="false">
    <div ng-include="'templates/components/app-header-blue.html'"></div>
    <ion-content class="has-header">
        <span class="space-15"></span>
        <section class="container block-container" layout="column" ng-cloak class="md-inline-form">
            <form>
                <ion-grid>
                    <ion-row>
                        <ion-col col-12 col-sm-12 col-md-12>
                            <span class="space-30"></span>
                            <div class="feed-cards" ng-repeat="data in feeds">
                                <img class="write-post" src="resources/img/official/comment2.png" ng-click="writePost(data)"
                                    role="button" tabindex="0">
                                <div class="item item-body positionRelative">
                                    <h4 class="text-18">{{data.ques}}</h4>
                                    <span class="space-5"></span>
                                    <ion-col col-2 col-sm-2 col-md-2>
                                        <img src="{{data.profilePicture}}" class="img-responsive m-0-auto pull-left"
                                            alt="profile picture" style="width: 50px;" 
                                            ng-click="feedUserProfile(data)" role="button"
                                            tabindex="0">
                                    </ion-col>
                                    <ion-col col-6 col-sm-6 col-md-6>
                                        <span ng-click="feedUserProfile(data)" class="text-12">{{data.username}}</span>
                                    </ion-col>
                                    <ion-col col-4 col-sm-4 col-md-4>
                                        <img class="pull-right feed-image"
                                            src="{{data.postImage}}">
                                    </ion-col>
                                    <ion-col col-12 col-sm-12 col-md-12>
                                        <p class="text-12" style="margin-top: 25px !important;"
                                            ng-click="navigateTo()">
                                            {{data.ans}}
                                        </p>
                                        <span class="space-10"></span>
                                        <p class="placed-bottom">
                                            <a ng-click="upvote(data)" class="subdued">Upvote {{data.upvoteCount}}</a>
                                            <a ng-click="share(data)" class="subdued">Share {{data.shareCount}}</a>
                                        </p>
                                    </ion-col>
                                </div>
                                <span class="space-30"></span>
                            </div>                            
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>
        </section>
    </ion-content>
</ion-view>