<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-bottom tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab class="title-font-sz" title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Community Tab -->  
  <ion-tab class="title-font-sz" title="Community" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/communityFeed">
    <ion-nav-view name="tab-community-feed"></ion-nav-view>
  </ion-tab>

  <!-- Library Tab -->
  <ion-tab class="title-font-sz" title="Library" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/library">
    <ion-nav-view name="tab-library"></ion-nav-view>
  </ion-tab>


</ion-tabs>
