<div aria-label="page header" class="bar bar-header container block-container page-header bg-blue" ng-controller="headerCtrl">
    <ion-row>
        <span class="space-10"></span>
        <ion-col col-2 ng-click="backButton()">
            <img class="header-back-button" alt="Back button" aria-label="Back" role="button">
        </ion-col>
        <ion-col col-8>
            <header role="text" title="header title" aria-label="{{pagetitle}} header title" class="header-title"
                ng-bind="pagetitle">{{pagetitle}}</header>
        </ion-col>
        <ion-col col-2>
            <!-- Add Button/Image If required at the right of Header -->
        </ion-col>
    </ion-row>
</div>