<!-- <md-input-container class="p-0 m-0 full-width" md-no-float="" class="md-block" flex-gt-md="">
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap class="p-0 m-0 full-width">
        <md-button class="md-raised full-width nostyle btn btn-primary" role="button" aria-label="{{arialabel}}">{{btnText}}</md-button>
    </section>
</md-input-container> -->
<div class="text-center">
    <button class="primary-button" role="button" aria-label="{{arialabel}}">{{btnText}}</button>
</div>